.profile-img {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}

.overview-link,
.overview-link:link,
.overview-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #391f76;
  margin-right: 2rem;
}

.follow-btn {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
}

.overview-link:hover,
.overview-link:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-6px);
  text-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.07);
}

.profile-info-box {
  margin: 0 auto;
  padding: 5.2rem 10rem 2rem;
  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.user-post-info {
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  gap: 4.8rem;
  margin-bottom: 1.5rem;
}

.profile-info-box span {
  display: block;
}

.user-name {
  color: #4d4d4d;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.user-posts-number {
  font-weight: 600;
}

.user-status {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.profile-info-box .new-post-btn {
  margin-top: 5.4rem;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
  transition: all 0.5s;
  background: #673ab7;
  margin-top: 0;
}

.profile-info-box .new-post-btn:hover {
  transform: translateY(0);
  background: #522e92;
  box-shadow: none;
}

.edit-btn {
  margin-left: 2rem;
  background-color: #f1f3f5 !important;
  border: 2px solid #673ab7 !important;
  color: #522e92 !important;
  padding: 0.55rem 1.6rem !important;
}

.edit-btn:hover {
  background-color: #522e92;
  color: white;
}
