.login-form {
  margin: 0 auto;
  max-width: 53rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 6rem 7rem;
  border-radius: 9px;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #d83838;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #673ab7;
}
.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.container {
  padding: 7rem 6rem 8.5rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.heading-login {
  font-size: 2.4rem;
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.btn:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn,
.btn:link,
.btn:visited {
  letter-spacing: 0.3rem;
  border-radius: 20px;
  color: #fff;
  padding: 1rem 3.6rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn--green {
  background: #673ab7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #512da8, #673ab7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #512da8, #673ab7);
}
