.section-featured {
  padding: 15rem 0;
}

.featuredIn {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-featured {
  display: block;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.5rem;
  filter: brightness(0%);
  opacity: 0.5;
}
