.section-testemonials {
  position: relative;
  padding: 18rem 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-center-text {
  text-align: center !important;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 0px;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 6rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
}

.story__shape {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  border-radius: none;
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-transform: translateX(-3rem) skewX(12deg);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.story:hover .story__img {
  -webkit-transform: translateX(-4rem) scale(1);
  transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(3px) brightness(80%);
  filter: blur(3px) brightness(80%);
}
.story__img {
  height: 100%;
  -webkit-transform: translateX(-4rem) scale(1.4);
  transform: translateX(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
  transform: skewX(12deg);
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.heading-story {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-testemonial--main {
  font-size: 3.2rem;
}
